{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Navbar Example</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'Job_Alert/images/logo.jpg' %}" alt="App Symbol" style="width: 30px; height: 30px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}" id="notifications">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ profile.avatar }}" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px;">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="{% url 'my-profile' %}">My Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href=#>Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div>
    <h1>Jobs recommended for you</h1>
    {% if Jobs %}
    <ul class="job-list">
        {% for job in Jobs %}
            <li class="job-item">
                <div class="job-title">{{ job.role }}</div>
                <div class="job-company">{{ job.company_name }}</div>
                <div class="job-details">
                    <p><strong>Location:</strong> {{ job.location }}</p>
                    <p><strong>Type:</strong> {{ job.get_job_type_display }}</p>
                </div>
                <a href="{{ job.link_to_original_source }}" class="job-link" target="_blank">
                    View Job Posting
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No matched jobs found based on your preferences.</p>
{% endif %}
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
