@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(226, 88, 88, 0.882); */
    background-color: #0094AA;
    font-family:'poppins',sans-serif;
}

::-webkit-scrollbar{
    display: none;
}
.container{
    background-color: white;
    
}
.container h1{
    color: #0094AA;
}
label,input{
    cursor: pointer;
    margin: 5px auto;
}
label{
    background-color: rgb(7, 107, 114);
    width: 100%;
    padding: 5px;
    color: whitesmoke;
    border-radius: 4px;
    text-align: center;
}

input{
    display: none;
}

#quiz-container{
    padding: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media (max-width:768px) {
 
    body{
        
        min-height: 100vh;
        height: fit-content;
        
    }
   
    .container{
        margin: auto 10px;
    }
    .container h1{
        margin: auto;
    }
    #quiz-container{
        margin: auto 10px;
    }
}