h1{
    padding: 20px;
    text-align: center;
    /* font-family: 'Times New Roman', Times, serif; */
    color: #080619;
    background-color: rgba(87, 43, 30, 0.526);
    margin-inline-start: 350px;
    margin-inline-end: 350px;
    border-radius: 10px;
    font-style: italic;
    font-size: 300%;
   
}



body{
    background-image: url(https://i.pinimg.com/474x/27/a6/50/27a650920458ff332a76d579f55f0f5d.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 115%;
    background-attachment: fixed;
    

}

