*{
    font-family: Verdana, sans-serif;
}
body{
    text-align: center;
    background-color: black;
    color: white;
   
}
button.rock,.paper,.scissors{
    border-radius: 50%;
    border: 2px solid black ;
    padding: 15px;
}
.heading{
    font-size: xx-large;
    font-weight: 600;
    padding: 30px;
}
.reset{
    color: black;
    background-color: aqua;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
}
.js-score{
    padding-bottom: 16px;
}
.js-result{
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
}
